// Contact form gets special design treatment
.content-id-171, .content-id-706 {
	.content-columns-wrapper {
		background-color: $color-blue;
		margin-bottom: 4em;
		padding-bottom: 2em;
		padding-top: 2em;
		.svg & {
				@include svg-background(stripes);
		}
	}
	.yamlform-submission-contact-form, #mc-embedded-subscribe-form {
		.button {
			background-color: #fff;
			color: $color-grey-dark;
			&:hover, &:focus, &:active {
				background-color: $color-orange;
				color: #fff;
			}
		}
		.captcha {
			margin-bottom: 2em;
			max-width: 30em;
		}
		label {
			color: #fff;
		}
	}
	#mc-embedded-subscribe-form {
		.button {
			border-radius: 0;
			font-weight: bold;
			@include fontSize(16px);
		}
	}

}